/* styles.css */

/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    background-color: #114430;
    background-image: url('background.png');
    background-size: cover;
    background-position: center;
}

h1 {
    text-align: center;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header .header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

header .logo {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

nav button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: #6ba53e;
    color: white;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

nav button:hover {
    background-color: #5a9234;
}

.vista {
    display: none;
}

.vista.active {
    display: block;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
    color: #333;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #042d29;
    color: white;
}

td {
    color: #333;
}

.input-row {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.input-row input, .input-row button, .input-row select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1 1 100%;
}

.jugador-row {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.password-dialog {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.password-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.password-content h3 {
    margin-top: 0;
}

.password-content button {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    background-color: #6ba53e;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.password-content button:hover {
    background-color: #5a9234;
}

.error-message {
    color: red;
    margin-top: 10px;
}

.mensaje {
    margin-top: 20px;
    font-size: 14px;
    color: #333;
}

/* Estilos adicionales para mejorar la presentación */
table thead {
    background-color: #6ba53e;
    color: white;
}

table tbody tr:nth-child(odd) {
    background-color: #c8c8c8;
}

table tbody tr:nth-child(even) {
    background-color: #e8e8e8;
}

/* Media Queries para pantallas pequeñas */
@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 10px;
    }

    header .header-content {
        flex-direction: column;
    }

    header .logo {
        margin-bottom: 10px;
        margin-right: 0;
    }

    nav {
        flex-direction: column;
    }

    nav button {
        margin: 10px 0;
        width: 100%;
    }

    .input-row input, .input-row button, .input-row select {
        flex: 1 1 auto;
    }

    table th, table td {
        padding: 5px;
    }

    /* Ajustes específicos para el reglamento */
    #vistaReglamento h2 {
        font-size: 1.5em;
    }

    #vistaReglamento p, #vistaReglamento ul, #vistaReglamento table {
        font-size: 0.9em;
        margin: 5px 0;
    }

    #vistaReglamento table th, #vistaReglamento table td {
        padding: 5px;
    }

    #vistaReglamento ul {
        padding-left: 20px;
    }
}
